---

---

<div id="container" class="h-screen w-screen my-auto flex flex-col items-center justify-center text-center px-4">
    <h2 class="title">Requirements</h2>
    <ol class="requirements">
        <li>
            Your website must fit the requirements imposed by the <a href="https://512kb.club/">512KB Club</a>.<br/>
            This includes URL scanning your website using <a href="https://radar.cloudflare.com/scan">Cloudflare Radar</a><br/>
            and ensuring <i>all</i> pages are &lt;512MB in size.
        </li>
        <li>
            Your website must do something. It must be either informational OR technical. It cannot just be
        </li>
    </ol>
</div>

<style>
    .title {
        font-family: 'Jacquard 12', serif;
        color: white;
        font-size: clamp(2rem, 8vw, 6rem);
    }
    .requirements {
        font-family: 'Jersey 10', serif;
        color: white;
        font-size: clamp(1rem, 2vw, 4rem);
        list-style: decimal;
    }
    a {
        text-decoration: underline;
    }

</style>