---

---

<div id="container" class="h-screen w-screen my-auto flex flex-col items-center justify-center text-center px-4">
    <h2 class="title">Requirements</h2>
    <p class="text-3xl" >
        Your website must fit the requirements imposed by the <a href="https://512kb.club/" class="underline">512KB Club</a>.<br/>
        This includes URL scanning your website using <a href="https://radar.cloudflare.com/scan" class="underline">Cloudflare Radar</a><br/>
        and ensuring <i>all</i> pages are &lt;512MB in size.
    </p>
    <p>
        Your website must do something. It must be either informational OR technical. It cannot just be
    </p>
</div>

<style>
    .title {
        font-family: 'Jacquard 12', serif;
        font-size: 8vw
    }

</style>