---

---

<div class="submit-container h-screen w-screen">
    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
        <button>Join The Cause</button>
    </a>
</div>

<style>
    .submit-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem;
    }
    
    button {
        border: white solid 1px;
        padding: 1.5rem 4rem;
        font-size: 7vw;
        background: #ec3750;
        color: white;
        cursor: pointer;
        transition: background 0.2s;
    }
    
    button:hover {
        background: #c7283e;
    }
</style>
