---
import astroLogo from '@/assets/astro.svg';
import background from '@/assets/background.svg';
---


<div id="container" class="h-screen w-screen bg-black">
    <a href="https://hackclub.com" class="absolute">
        <img src="https://assets.hackclub.com/flag-orpheus-left-bw.svg"
             alt="Hack Club Flag"
        >
    </a>
    <div id="textContainer" class="h-screen w-screen my-auto flex flex-col items-center justify-center text-center">
        <h1 class="title">512</h1>
        <h2 class="subtitle">You ship a tiny project,</h2>
        <h2 class="subtitle">We ship a drive to hold 1000 of it.</h2>
    </div>
    <a href="https://forms.hackclub"><button>Submit</button></a>
</div>

<style>
	.title {
		font-family: 'Jacquard 24', serif;
		color: white;
		font-size: 6rem;
	}
    .subtitle {
        font-family: 'Jacquard 12', serif;
        color: white;
        font-size: 3rem;
    }
</style>
