---
import astroLogo from '@/assets/astro.svg';
import background from '@/assets/background.svg';
---


<div id="container" class="h-screen w-screen">
    <a href="https://hackclub.com" class="absolute">
        <img src="/flag-orpheus-left.svg"
             alt="Hack Club Flag"
             style={`width: clamp(100px, 15vw, 300px);`}
        >
    </a>
    <div id="textContainer" class="h-screen w-screen my-auto flex flex-col items-center justify-center text-center px-4">
        <h1 class="title">512</h1>
        <h2 class="subtitle">You ship a tiny site,</h2>
        <h2 class="subtitle">We ship a drive to hold a thousand.</h2>
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
            <button>Submit</button>
        </a>
    </div>
</div>

<style>
    .title {
        font-family: 'Jacquard 12', serif;
        color: white;
        font-size: clamp(5rem, 10vw, 16rem);
    }
    .subtitle {
        font-size: clamp(1.25rem, 3vw, 6rem);
    }
    button {
        border: white solid 1px;
        margin: 1rem;
        padding: 0.5rem 2rem;
        font-size: clamp(1.5rem, 4vw, 4rem);
        background: #ec3750;
        color: white;
        cursor: pointer;
        transition: background 0.2s;
    }
    button:hover {
        background: #c7283e;
    }
</style>
