---

---

<div id="container" class="h-screen w-screen my-auto flex flex-col items-center justify-center text-center px-4">
    <h2 class="title">Requirements:</h2>
    <ol class="requirements">
        <li>
            Your project must fit the requirements imposed by the 512.
        </li>
        <li>gah</li>
    </ol>
</div>

<style>
    .title {
        font-family: 'Jacquard 12', serif;
        color: white;
        font-size: clamp(2rem, 8vw, 6rem);
    }
    .requirements {
        font-family: 'Jersey 10', serif;
        color: white;
        font-size: clamp(1rem, 2vw, 4rem);
        list-style: decimal;
    }

</style>