---

---

<div id="container" class="h-screen w-screen flex justify-between items-center">
    <div class="w-1/2 p-4 text-center">
        Part 1
    </div>

    <div class="border-l h-12 border-white"></div>

    <div class="w-1/2 p-4 text-center">
        Part 2
    </div>
</div>