---

---

<div id="container" class="h-screen w-screen flex justify-between items-center px-[10vw]">
    <p class="w-1/2 text-7xl p-4 text-center">

        Recently, the web has been taken over by
        <span class="ai-slop">AI Slop, JS</span>-bloated websites,
        and <span class="ai-slop">clickbait.</span>

    </p>

    <div class="border-l h-12 border-white"></div>

    <p class="w-1/2 p-4 text-8xl text-center">
        Join the revolution. Take back the web.
    </p>
</div>

<style>
    .ai-slop {
        font-family: "Jacquard 12", serif;
    }
</style>